/* Write your code here. */
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  height: 10vh;
  width: 60vw;
  background-color: #0b69ff;
  margin-top: 20px;
  align-items: flex-start;
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto";
}
.success {
  display: flex;
  height: 10vh;
  width: 60vw;
  background-color: #2dca73;
  margin-top: 20px;
  align-items: flex-start;
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto";
}
.warning {
  display: flex;
  height: 10vh;
  width: 60vw;
  background-color: #ffb800;
  margin-top: 20px;
  align-items: flex-start;
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto";
}
.error {
  display: flex;
  height: 10vh;
  width: 60vw;
  background-color: #ff0b37;
  margin-top: 20px;
  align-items: flex-start;
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto";
}
.img-css {
  height: 20px;
  width: 20px;
  margin-top: 13px;
  margin-right: 10px;
}
.head {
  text-align: center;
  color: #0f172a;
  font-family: "Roboto";
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .head {
    font-size: 30px;
  }
}
